.solutions {
  background: var(--co-dark-green);
}

.solutions__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
  padding: 220px 0;
}

.solutions__title {
  color: var(--co-white);
  font-size: 50px;
  font-weight: 700;
  max-width: 580px;
}

.solutions__desc {
  color: var(--co-white);
  font-size: 25px;
  font-weight: 600;
  max-width: 550px;
}

.solutions__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px 0 0 0;
}

.solutions__content .btn {
  margin-top: 50px;
  width: 240px;
  height: 65px;
}

.solutions__content-vodeo {
  border-radius: 16px;
}

.solutions__img {
  max-width: 789px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 158/91;
}

@media (max-width: 1300px) {
  .solutions__wrapper {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
  }
  .solutions__content {
    text-align: center;
    place-items: center;
  }
}

@media (max-width: 576px) {
  .solutions__wrapper {
    padding: 150px 0;
  }
  .solutions__title {
    font-size: 32px;
    max-width: 450px;
  }
  .solutions__desc {
    font-size: 20px;
  }
}
